body {
  margin: 0px;
  margin-top: -20px;
  font-family: "Roboto", sans-serif;
}
a:hover {
  color: hotpink;
}

.box-model {
  display: flex;
}
.box-model h1 {
  margin-right: 10px;
}
.donate-btn {
  color: white;
  background: red;
  text-decoration: none;
  padding: 14px 25px;
  border-radius: 10px 5px;
}

.donation {
  text-align: center;
  margin-bottom: 200px;
}

.donation p {
  //margin-bottom: 10px;
  color: grey;
}

.donate-plan {
  margin-top: 100px;
  text-align: center;
}

#individula-amount {
  padding: 30px;
  border-bottom-style: outset;
  margin-bottom: 80px;
}
.money {
  margin: 10px;
  background: #ede6db;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: #1a3c40;
  border: 2px solid white;
  height: 100px;
  width: 200px;
}
#money-color {
  margin: 10px;
  background: #ffe6e6;
  border: 2px solid red;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: red;

  height: 100px;
  width: 200px;
}
.header {
  background-image: url("images/donation13.jpg");

  color: white;
  margin-bottom: 100px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  padding-top: 150px;
}
.hader image {
  width: 100%;
}

.half-width {
  margin: auto;
  width: 50%;
}

.half-width h1 {
  font-weight: bold;
  font-size: 50px;
}

#intro-description {
  margin-top: 20px;
}

.planning-cart {
  display: flex;
}

.planning {
  width: 33%;
  height: 300px;
  padding: 10px;
  box-shadow: 5px 10px 10px #888888;
  border-radius: 10px;
  margin-right: 20px;
}

.planning p {
  text-align: justify;
}

#shelterIcons {
  height: 100px;
  margin-left: -150px;
  margin-top: 40px;
}

#foodIcons {
  height: 80px;
  margin-left: -150px;
  margin-top: 40px;
}
#familyIcons {
  height: 80px;
  margin-left: -150px;
  margin-top: 40px;
}

.news img {
  width: 100%;
}
.news {
  margin-top: 100px;
  text-align: center;
}
.news-cart {
  display: flex;
}

.news-container {
  box-shadow: 5px 5px 10px #ffa500;
  margin-left: 15px;
  width: 33%;
  height: 400px;
}
.updates {
  margin-top: 100px;
  text-align: center;
}
.email-us {
  height: 250px;
  width: 100%;
  background: #ffe7bf;
  margin-bottom: 200px;
  margin-top: 50px;
  border-radius: 8px;
}
#email {
  margin-top: 100px;
  height: 35px;
  width: 30%;
  background: #e0deca;
  border-radius: 5px 0px 0px 5px;
  border-style: none;
  color: red;
  padding-left: 10px;
}
#planning-color-first {
  background: #c2ded1;
}

#planning-color-second {
  background: #e9d5ca;
}

#planning-color-third {
  background: #f7ccac;
}
.orange-color {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}
#Subcribe {
  height: 37px;
  width: 100px;
  margin-left: -5px;
  border-style: none;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
}

footer {
  color: white;
  height: 250px;
  width: 100%;
  background: black;
  text-align: center;
  font-size: 50px;
}

footer h2 {
  color: #f15412;
  font-family: "The Nautigal", cursive;
}

footer p {
  font-size: 14px;
}
